.header--container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-bottom: 1px solid lightgray;

    color: var(--heading-color);
}

.header--sub-container{
    padding: var(--container-padding);
    
    display: flex;
    flex-direction: column;
    gap:10px;
}

.width-50{
    width: 50% !important;
}

.header--input{
    width: 100%;

    padding: 2.6px;

    border: none;
    border-bottom: 2px solid black;

}

.header--input:focus{
    outline: none;
}
